page-home {
    ion-content {
        background-color: #418fde !important;
    }
    .item-md {
        padding-left: 0px !important;
    }
    .item-md ion-icon[item-left]+.item-inner,
    .item-md ion-icon[item-left]+.item-input,
    .item-md ion-icon[item-start]+.item-inner,
    .item-md ion-icon[item-start]+.item-input {
        margin-left: 0px;
    }
    .btnrefrescar {
        height: 74px;
        background-color: transparent;
    }
    .txtsuperior {
        background-color: transparent;
        margin-top: 20px;
    }
    .centro {
        background-color: transparent;
        margin-top: 43px;
    }
    .fuente1 {
        color: white;
        font-size: 20px;
    }
    .fuente2 {
        font-size: 90px;
        color: white;
    }
    .fuente3 {
        color: white;
        font-size: 15px;
    }
    .inferior {
        background-color: transparent;
    }
}