<ion-content padding>
    <ion-list>
        <ion-item class="btnrefrescar" no-lines>
            <ion-fab center top>
                <button ion-fab color="light" (click)="refrescar()">
                    <ion-icon name="refresh"></ion-icon>
                </button>
            </ion-fab>
        </ion-item>

        <ion-item no-lines class="txtsuperior" text-center>
            <p class="fuente1">
                <ion-icon range-left small color="light" name="map" style="font-size: 25px;"></ion-icon> <span
                    id="lugar"></span>
            </p>
        </ion-item>

        <ion-item no-lines text-center class="centro">
            <p class="fuente2" id="temperature"></p>
            <ion-icon range-left small color="light" name="thermometer" style="font-size: 50px;"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-item no-lines class="inferior">
        <ion-grid>
            <ion-row>
                <ion-col text-center>
                    <p class="fuente3">
                        <ion-icon name="water"></ion-icon>
                    </p>
                    <p class="fuente3"><span id="humidity"></span></p>
                    <p class="fuente3">Humedad</p>
                </ion-col>
                <ion-col text-center>
                    <p class="fuente3">
                        <ion-icon name="sunny"></ion-icon><br><span id="sumarry"></span>
                    </p>
                </ion-col>
                <ion-col text-center>
                    <p class="fuente3">
                        <ion-icon name="rainy"></ion-icon>
                    </p>
                    <p class="fuente3"><span id="rain"></span>%</p>
                    <p class="fuente3">Probalidad de lluvia</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-content>